@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo 2", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #E2DFDD;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,40,0,0.6),rgba(0,40,0,0.6)), url("https://grillkitchen.co.in/assets/images/slider/Ahm-1.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.formbox{
    min-height: 50vh;
    width: 30vw;
    position: absolute;
    padding: 2vw 2vw;
    background: white;
    text-align: center;
    border-radius: 10px;
}
.formbox h1{
    color: green;
    margin-bottom: 60px;
    position: relative;
}
.formbox h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: green;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input-field{
    background-color: rgb(193, 212, 216);
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 80px;
    transition: max-height 0.5s;
    overflow: hidden;
}

input{
    width: 100%;
    background-color: transparent;
    border: 0;
    outline: 0;
    padding: 10px 15px;
}
.input-field i{
    margin-left: 15px;
    color: #999;
}
form p{
    text-align: left;
}
form p a{
    text-decoration: none;
    color: red;
}

.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn-field button{
    flex-basis: 48%;
    background: green;
    color: white;
    height: 30px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.input-group{
    height: 200px;
}
.btn-field button.disable{
    background-color: rgb(193, 212, 216);
}